body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    padding: 20px 200px;
}

.header .left {
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 700;
    /* border: 2px solid green; */
}

.header .right {
    display: flex;
    align-items: center;
    /* border: 2px dashed yellow; */
}

.header .right ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    /* border: 2px solid orange; */
}

a {
    color: #cfd2d7;
    text-decoration: none;
}

.main {
    background-color: #1F2937;
    /* border: 2px solid red; */
    display: flex;
    padding: 100px 200px;
    gap: 10px;
}

.main .heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main .paragraph {
    font-size: 18px;
    color: #cfd2d7;
    margin-top: -15px;
}

.main .img-container img {
    width: 450px;
    height: auto;
}

.main .left {
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
    padding-right: 40px;
}

.main .left a .button {
    color: #FFFFFF;
    background-color: #3b82f6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
}

.info-container {
    /* border: 2px solid red; */
    padding: 50px;
}

.info-container .heading {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.one img, .two img, .three img, .four img {
    width: 150px;
    height: auto;
    border-radius: 20px;
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid magenta; */
    max-width: 200px;
}

.sub-text {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 2px dashed black; */
    text-align: center;
    color: rgb(68, 70, 73);
    font-size: 18px;
}

.info-container .info {
    /* border: 2px dashed purple; */
    display: flex;
    padding: 50px;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}